<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><Manager></title>
  <style>
    table {
      border-collapse: collapse; /* схлопнуть границы таблицы */
      width: 100%;
    }

    td, th {
      border: 1px solid black; /* добавить границы к ячейкам таблицы */
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2; /* сделать каждую четную строку серого цвета */
    }

  </style>
</head>
<body>
<div id="userTable">

</div>
</body>
<script>
  GetCars()

  let carTable = document.getElementById('userTable')

  function GetCars() {
    console.log(`Get Users Stated`)
    fetch(`http://localhost:9000/api/cars`, {
      method: `GET`, mode: "no-cors",
      headers: {'Content-Type': 'application/json', 'Accept': 'application/json'}
    })
            .then(responce => {
              return responce.json()
            })
            .then((data) => {
              console.log(data)

              const carTable = document.createElement('table');
              const headerRow = document.createElement('tr');
              headerRow.innerHTML = '<th>ID</th><th>Model</th><th>LicPlate</th>';
              carTable.appendChild(headerRow);

              data.forEach((car) =>{
                const row = document.createElement('tr');
                row.innerHTML = `<td>${car.id}</td><td>${car.model}</td><td>${car.licPlate}</td>`;
                carTable.appendChild(row);
              })
              document.body.appendChild(carTable);
            })
  }
</script>
</html>